@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

.App {
  position: relative;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  position: absolute;
  top: 3%;
  left: 3%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  background-color: #16a7cf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #54CCF8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-title {
  color: white;
  font-size: 3em;
  margin-top: -0.5em;
  font-family: 'Averia Serif Libre', cursive;
}

.AddDeviceButton-container,
.ArchiveDeviceButton-container {
  text-align: center;
  margin-top: 1em;
}

.AddDeviceButton,
.ArchiveDeviceButton {
  width: 300px;
  height: 60px;
  padding: 0.5em 1em;
  background-color: #004B97;
  color: white;
  font-size: 1em;
  border: none;
  cursor: pointer;
  font-family: 'Averia Serif Libre', cursive;
  border-radius: 4px;
  transition: box-shadow 0.3s, transform 0.3s;
}
.SearchBox-button {
  width: 300px;
  height: 60px;
  padding: 0.5em 1em;
  background-color: #004B97;
  color: white;
  font-size: 1em;
  border: none;
  cursor: pointer;
  font-family: 'Averia Serif Libre', cursive;
  border-radius: 4px;
  transition: box-shadow 0.3s, transform 0.3s;
  position: relative;
}

.SearchBox-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.AddDeviceButton:hover,
.ArchiveDeviceButton:hover,
.LoginButton:hover {
  box-shadow: 0 0 10px rgba(0, 75, 135, 0.5);
  transform: scale(1.05);
}

.SearchBox-button:hover {
  box-shadow: 0 0 10px rgba(0, 75, 135, 0.5);
  transform: scale(1.05);
  opacity: 1;
}


.SearchBox-button:hover .SearchBox-icon {
  opacity: 1;
}

.LoginButton {
  position: absolute;
  top: 3%;
  right: 3%;
  z-index: 2;
  width: 180px;
  height: 60px;
  padding: 0.5em 1em;
  background-color: #004B97;
  color: white;
  font-size: 0.7em;
  border: none;
  cursor: pointer;
  font-family: 'Averia Serif Libre', cursive;
  border-radius: 4px;
  transition: box-shadow 0.3s, transform 0.3s;
}
